<article class="about-this-page">
  <div class="limiter">
    <div class="about-this-page__container container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Project Repository</h2>
        </div>

        <div class="col-12">
          <p>
            You can find the source code
            <a
              href="https://github.com/7Mica/peronsal-resume"
              rel="noopener noreferrer"
            >
              here
            </a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="h3">List of technologies I used for this Website</h2>
        </div>

        <div class="col-12">
          <div class="row text-center">
            <div class="col-12 col-md-4">
              <img
                src="assets/icons/brand-icons/angular.svg"
                width="50"
                height="50"
              />
            </div>

            <div class="col-12 col-md-4">
              <img
                src="assets/icons/brand-icons/sass.svg"
                width="50"
                height="50"
              />
            </div>

            <div class="col-12 col-md-4">
              <img
                src="assets/icons/brand-icons/bootstrap-4.svg"
                width="50"
                height="50"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
