<section class="list-section" aria-label="experience">
  <div class="limiter">
    <div class="list-section__container container-fluid">
      <h2 class="section-title text-center" id="experience">
        {{ sectionTitle }}
      </h2>

      <div class="list-section__list">
        <h3>{{ subsectionTitle }}</h3>

        <div class="list-section__list-wrapper row">
          <ng-container *ngFor="let item of careers">
            <div class="list-section__item col-12">
              <div class="row">
                <div class="list-section__item-title col-12 col-md-4">
                  <h4 class="list-section__item-name">{{ item.company }}</h4>

                  <p class="list-section__item-period">{{ item.yearRange }}</p>

                  <p class="list-section__item-location">
                    <i class="bi bi-geo"></i> {{ item.location }}
                  </p>
                </div>

                <div class="list-section__item-body col-12 col-md-8">
                  <h5 class="list-section__item-job">{{ item.job }}</h5>

                  <p class="list-section__item-job-description">
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
