<section class="list-section">
  <div class="limiter">
    <div class="list-section__container container-fluid">
      <h2 class="section-title text-center">Experiencie</h2>

      <div class="list-section__list">
        <h3>Careers</h3>

        <div class="list-section__list-wrapper row">
          <div class="list-section__item col-12">
            <div class="row">
              <div class="list-section__item-title col-12 col-md-4">
                <h4 class="list-section__item-name">Dot Devs</h4>

                <p class="list-section__item-period">2020 - Present</p>
              </div>

              <div class="list-section__item-body col-12 col-md-8">
                <h5 class="list-section__item-job">Backend Developer</h5>

                <p class="list-section__item-job-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  itaque odio enim exercitationem, tempora corporis nihil sint
                  ratione distinctio tempore doloremque magni tenetur labore ab
                  quasi unde error similique asperiores?
                </p>
              </div>
            </div>
          </div>

          <div class="list-section__item col-12">
            <div class="row">
              <div class="list-section__item-title col-12 col-md-4">
                <h4 class="list-section__item-name">Dot Devs</h4>

                <p class="list-section__item-period">2020 - Present</p>
              </div>

              <div class="list-section__item-body col-12 col-md-8">
                <h5 class="list-section__item-job">Backend Developer</h5>

                <p class="list-section__item-job-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  itaque odio enim exercitationem, tempora corporis nihil sint
                  ratione distinctio tempore doloremque magni tenetur labore ab
                  quasi unde error similique asperiores?
                </p>
              </div>
            </div>
          </div>

          <div class="list-section__item col-12">
            <div class="row">
              <div class="list-section__item-title col-12 col-md-4">
                <h4 class="list-section__item-name">Dot Devs</h4>

                <p class="list-section__item-period">2020 - Present</p>
              </div>

              <div class="list-section__item-body col-12 col-md-8">
                <h5 class="list-section__item-job">Backend Developer</h5>

                <p class="list-section__item-job-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  itaque odio enim exercitationem, tempora corporis nihil sint
                  ratione distinctio tempore doloremque magni tenetur labore ab
                  quasi unde error similique asperiores?
                </p>
              </div>
            </div>
          </div>

          <div class="list-section__item col-12">
            <div class="row">
              <div class="list-section__item-title col-12 col-md-4">
                <h4 class="list-section__item-name">Dot Devs</h4>

                <p class="list-section__item-period">2020 - Present</p>
              </div>

              <div class="list-section__item-body col-12 col-md-8">
                <h5 class="list-section__item-job">Backend Developer</h5>

                <p class="list-section__item-job-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  itaque odio enim exercitationem, tempora corporis nihil sint
                  ratione distinctio tempore doloremque magni tenetur labore ab
                  quasi unde error similique asperiores?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
