<article class="thanks-page">
  <div class="limiter">
    <div class="thanks-page__container container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>Thank you</h2>
          <p>
            I would like to say thank you to the next pages for the resources I
            used for this Website.
          </p>
        </div>
        <div class="col-12">
          <h3>Images</h3>
          <ul>
            <li>
              <a
                href="https://unsplash.com/@julianhochgesang"
                rel="noopener noreferrer"
              >
                @julianhochgesang
              </a>
            </li>
            <li>
              <a
                href="https://unsplash.com/@eddrobertson"
                rel="noopener noreferrer"
              >
                @eddrobertson
              </a>
            </li>
            <li>
              <a
                href="https://unsplash.com/@joaoscferrao"
                rel="noopener noreferrer"
              >
                @joaoscferrao
              </a>
            </li>
          </ul>

          <h3>Svg Backgrounds</h3>
          <ul>
            <li>
              <a href="https://www.svgbackgrounds.com">
                https://www.svgbackgrounds.com
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
