<section class="text-background-section">
  <div class="text-background-section__container">
    <h2 class="section-title u-text-center">What about us?</h2>

    <div class="text-background-section__time-line-cards">
      <div class="time-card">
        <div class="time-card__image">
          <img
            src="{{ assetUrl }}/icons/galaxy.svg"
            alt="Galaxy"
            width="300"
            height="300"
          />
        </div>

        <div class="time-card__body-text">
          <p class="time-card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            doloribus sapiente. Ipsa magnam aspernatur, molestiae, nulla, illum
            sed sint rerum quia repellendus quae harum aliquid commodi similique
            tenetur recusandae deleniti! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Atque, doloribus sapiente.
          </p>
        </div>
      </div>

      <div class="time-card left">
        <div class="time-card__image">
          <img
            src="{{ assetUrl }}/icons/alien.svg"
            alt="Alien"
            width="300"
            height="300"
          />
        </div>

        <div class="time-card__body-text">
          <p class="time-card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            doloribus sapiente. Ipsa magnam aspernatur, molestiae, nulla, illum
            sed sint rerum quia repellendus quae harum aliquid commodi similique
            tenetur recusandae deleniti! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Atque, doloribus sapiente.
          </p>
        </div>
      </div>

      <div class="time-card">
        <div class="time-card__image">
          <img
            src="{{ assetUrl }}/icons/planets.svg"
            alt="Planets"
            width="300"
            height="300"
          />
        </div>

        <div class="time-card__body-text">
          <p class="time-card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            doloribus sapiente. Ipsa magnam aspernatur, molestiae, nulla, illum
            sed sint rerum quia repellendus quae harum aliquid commodi similique
            tenetur recusandae deleniti! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Atque, doloribus sapiente.
          </p>
        </div>
      </div>

      <div class="time-card left">
        <div class="time-card__image">
          <img
            src="{{ assetUrl }}/icons/satellite.svg"
            alt="Satellite"
            width="300"
            height="300"
          />
        </div>

        <div class="time-card__body-text">
          <p class="time-card__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            doloribus sapiente. Ipsa magnam aspernatur, molestiae, nulla, illum
            sed sint rerum quia repellendus quae harum aliquid commodi similique
            tenetur recusandae deleniti! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Atque, doloribus sapiente.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
