@import "abstract/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.hobby-list {
  background-color: white;

  &__container {
    padding: 70px 25px;

    h2 + * {
      margin-top: 40px;
    }
  }

  &__card-item {
    @include media-breakpoint-down(sm) {
      & + & {
        margin-top: 40px;
      }
    }
  }
}
