@import "abstract/variables";

.footer {
  background-color: $secondary-color;
  background-position: center;
  background-repeat: no-repeat;
  color: #dcd2d2;

  a {
    &,
    &:link {
      color: #dcd2d2;
    }

    &:hover {
      color: #faf3f3;
    }
  }

  &__links {
    list-style: none;
    padding-inline-start: 0;

    li + li {
      margin-top: 10px;
    }
  }

  &__container {
    padding: 60px;
  }

  &__made-by {
    img {
      width: 50px;
      height: 50px;
    }

    * + * {
      margin-top: 10px;
    }
  }

  &__copyright {
    p {
      margin: 0;
    }
  }

  &__first-list {
    > * + * {
      margin-top: 10px;
    }
  }
}
