<footer class="footer">
  <div class="limiter">
    <div class="footer__container container-fluid">
      <div class="row">
        <div class="col-12 col-md-8">
          <p class="text-sm-center text-md-left">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi
            quibusdam saepe culpa hic quam aperiam, qui molestias, a distinctio
            est optio dolor quo libero ab eius aliquam. Aperiam, quos ad!
          </p>
        </div>

        <div class="col-12 col-md-4">
          <div class="footer__made-by text-center">
            <img src="assets/icons/brand-icons/angular.svg" alt="Angular" />
            <p>Made with ❤️ in Angular</p>
          </div>
        </div>
      </div>

      <div class="footer__copyright row">
        <div class="col-12">
          <p class="text-center">Fermin © 2021 - 2021</p>
        </div>
      </div>
    </div>
  </div>
</footer>
