<footer class="footer">
  <div class="limiter">
    <div class="footer__container container-fluid">
      <div class="row">
        <div
          class="footer__first-list col-12 col-md-4 text-sm-center text-md-left"
        >
          <ul>
            <li>
              <select
                name="theme"
                id="theme-selector"
                [(ngModel)]="theme"
                (change)="handleChange()"
              >
                <option value="main-theme">🤔️</option>
                <option value="secondary-theme">👽️</option>
                <option value="tertiary-theme">🙈️</option>
              </select>
            </li>
            <li><i class="bi bi-geo-alt"></i> Tepic, Nayarit. México.</li>

            <li><a routerLink="/thanks"> Thanks for the free assets</a></li>
            <li>
              <ng-container
                *ngIf="
                  accountInformation$ | async as accountInformation;
                  else toSignIn
                "
              >
                <p>
                  Signed in as: <strong>{{ accountInformation.email }}</strong>
                  <span (click)="closeSession()" style="cursor: pointer">
                    (sign out)
                  </span>
                </p>
              </ng-container>

              <ng-template #toSignIn>
                <a routerLink="/auth/sign-in"> Sign In</a>
              </ng-template>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-4">
          <ul class="footer__links text-sm-center text-md-left">
            <li>
              <a
                target="_blank"
                href="https://github.com/7Mica"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i> Github profile</a
              >
            </li>
            <li>
              <a
                target="_blank"
                href="https://github.com/7Mica/peronsal-resume"
                rel="noopener noreferrer"
                ><i class="bi bi-github"></i> Web site's repository</a
              >
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-4">
          <div class="footer__made-by text-center">
            <img src="assets/icons/brand-icons/angular.svg" alt="Angular" />
            <p>Made with ❤️ in Angular</p>
          </div>
        </div>
      </div>

      <div class="footer__copyright row">
        <div class="col-12">
          <p class="text-center">Fermin © 2021 - 2021</p>
        </div>
      </div>
    </div>
  </div>
</footer>
