@import "abstract/variables";

.footer {
  background-color: $secondary-color;
  background-position: center;
  background-repeat: no-repeat;
  color: #dcd2d2;

  &__container {
    padding: 40px;
  }

  &__made-by {
    img {
      width: 50px;
      height: 50px;
    }

    * + * {
      margin-top: 10px;
    }
  }

  &__copyright {
    p {
      margin: 0;
    }
  }
}
