.btn {
  border: none;
  background-color: $quiet-color;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-primary {
  background-color: $primary-color;
  padding: 10px 25px;
  color: rgba($secondary-color, 0.3);
  transition: background-color 500ms, color 500ms;

  &:hover {
    background-color: $btn-secondary-hover;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  padding: 10px 25px;
  color: white;
  transition: background-color 500ms, color 500ms;

  &:hover {
    background-color: $btn-secondary-hover;
  }
}

.btn-icon {
  background: none;
}

.action-span {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
