@import "abstract/variables";

a {
  &,
  &:link,
  &:active {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;

    &:not(.btn) {
      color: $secondary-color;
    }
  }
}
