@import "abstract/mixins";
@import "abstract/variables";
@import "base/animations";
@import "~bootstrap/scss/mixins/breakpoints";

.text-section {
  padding: 70px 0 0 0;
  min-height: 50vh;

  &__container {
    padding: 40px 25px;
    animation: opacityScale 1s;
  }

  &__text-wrapper {
    @include media-breakpoint-between(sm, lg) {
      p,
      a {
        margin: 0 auto 30px;
      }
    }
  }

  &__paragraph {
    max-width: 800px;
  }

  &__image {
    img {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      box-shadow: 0 0 0px 4px $secondary-color, 10px 10px 20px #000000cc;
    }

    figcaption {
      p {
        margin: 0;
      }

      margin: 30px 0 0;
    }

    @include media-breakpoint-between(sm, lg) {
      margin: 0 auto 30px;
    }
  }
}
