<section class="text-section">
  <div class="text-section__container container">
    <div class="text-section__wrapper">
      <figure class="text-section__image">
        <img
          src="assets/images/road@2x.jpg"
          alt="cat"
          width="300"
          height="300"
        />
      </figure>

      <div class="text-section__text-wrapper">
        <h2 class="section-title">{{ title }}</h2>

        <p class="text-section__paragraph">
          {{ bodyMessage }}
        </p>

        <a
          target="_blank"
          class="btn btn-secondary"
          href="assets/files/Resume--Fermin-Casillas.pdf"
        >
          Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
