<section class="text-section">
  <div class="limiter">
    <div class="text-section__container container-fluid">
      <div class="row gx-5">
        <div class="text-section__image_wrapper col-12 col-lg-4">
          <figure class="text-section__image">
            <img src="assets/images/road@2x.jpg" alt="cat" />

            <figcaption class="figure-caption text-center">
              <p>Age: <strong>28 years</strong></p>
              <p>Location: <strong>Tepic, NAY. Mexico</strong></p>
            </figcaption>
          </figure>
        </div>

        <div
          class="text-section__text-wrapper text-center text-lg-left col-12 col-lg-8"
        >
          <h2 id="about" class="section-title">
            {{ title }}
          </h2>

          <p class="text-section__paragraph">
            {{ bodyMessage }}
          </p>

          <a
            target="_blank"
            class="btn btn-primary"
            href="assets/files/Resume--Fermin-Casillas.pdf"
          >
            Download Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
