<section class="text-section">
  <div class="limiter">
    <div class="text-section__container container-fluid">
      <div class="row gx-5">
        <div class="text-section__image_wrapper col-12 col-lg-4">
          <figure class="text-section__image">
            <img src="{{ profileImage }}" alt="Profile picture" />

            <figcaption class="figure-caption text-center">
              <p>
                Age: <strong>{{ age }}</strong>
              </p>
              <p>
                Location: <strong>{{ location }}</strong>
              </p>
            </figcaption>
          </figure>
        </div>

        <div
          class="text-section__text-wrapper text-center text-lg-left col-12 col-lg-8"
        >
          <h2 id="about" class="section-title">
            {{ sectionTitle }}
          </h2>

          <p class="text-section__paragraph">
            {{ bodyMessage }}
          </p>

          <a target="_blank" class="btn btn-primary" href="{{ resumeFile }}">
            {{ ctaText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
