@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(80rem);
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes shaking {
  0% {
    transform-origin: center center;
    transform: scale(1);
  }

  50% {
    transform-origin: center center;
    transform: scale(0.96);
  }

  100% {
    transform-origin: center center;
    transform: scale(1);
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes menu-translate {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes op-0-1 {
  0% {
    opacity: 0;
  }

  95% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
