.u-text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.fixed {
  position: fixed;
}

.opacity {
  &-0 {
    opacity: 0 !important;
  }

  &-1 {
    opacity: 1 !important;
  }
}
