@import "abstract/variables";

.fixed {
  position: fixed;
}

.color- {
  &white {
    color: #fff !important;
  }
}

.background- {
  &primary {
    background-color: $primary-color !important;
  }

  &secondary {
    background-color: $secondary-color !important;
  }

  &quiet {
    background-color: $quiet-color !important;
  }
}

.a-opacity {
  &-0 {
    opacity: 0;
  }

  &-1 {
    opacity: 1;
  }
}

.opacity {
  &-0 {
    opacity: 0 !important;
  }

  &-1 {
    opacity: 1 !important;
  }
}
