<section class="icon-section">
  <div class="icon-section__container">
    <h2 class="section-title text-center">Technologies</h2>

    <div class="icon-section__list">
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/angular.svg"
          alt="Angular"
          width="100"
          height="100"
        />
      </div>

      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/docker.svg"
          alt="Docker"
          width="100"
          height="100"
        />
      </div>

      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/drupal.svg"
          alt="Drupal"
          width="100"
          height="100"
        />
      </div>

      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/expressjs.svg"
          alt="Express"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/graphql.svg"
          alt="Graphql"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/javascript.svg"
          alt="Javascript"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/nestjs.svg"
          alt="NestJS"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/nodejs.svg"
          alt="Node.js"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/php.svg"
          alt="PHP"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/typescript.svg"
          alt="Typescript"
          width="100"
          height="100"
        />
      </div>
      <div class="icon-section__icon">
        <img
          src="assets/icons/brand-icons/sass.svg"
          alt="SASS"
          width="100"
          height="100"
        />
      </div>
    </div>
  </div>
</section>
