<section class="card-section">
  <div class="card-section__container">
    <h2 class="section-title u-text-center">Something about</h2>

    <div class="card-section__cards-wrapper">
      <div class="card">
        <div class="card-wrapper">
          <div class="card-logo">
            <img
              src="/assets/icons/starship_launch.svg"
              alt="Starship"
              width="200"
              height="200"
            />
          </div>

          <h3 class="card-title">Card title</h3>

          <p class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
            commodi ipsa consequuntur nihil ut laudantium a, beatae architecto
            deleniti qui? Dolorum eaque facilis ducimus commodi, dicta sed autem
            adipisci veniam!
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-wrapper">
          <div class="card-logo">
            <img
              src="/assets/icons/moon_flag.svg"
              alt="Starship"
              width="200"
              height="200"
            />
          </div>

          <h3 class="card-title">Card title</h3>

          <p class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
            commodi ipsa consequuntur nihil ut laudantium a, beatae architecto
            deleniti qui? Dolorum eaque facilis ducimus commodi, dicta sed autem
            adipisci veniam!
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-wrapper">
          <div class="card-logo">
            <img
              src="/assets/icons/robot.svg"
              alt="Starship"
              width="200"
              height="200"
            />
          </div>

          <h3 class="card-title">Card title</h3>

          <p class="card-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
            commodi ipsa consequuntur nihil ut laudantium a, beatae architecto
            deleniti qui? Dolorum eaque facilis ducimus commodi, dicta sed autem
            adipisci veniam!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
