.card-section {
  padding: 35px 0 40px 0;

  &__container {
    max-width: 1680px;
    margin: 0 auto;
  }

  .section-title {
    & + .card-section__cards-wrapper {
      margin-top: 150px;
    }
  }

  &__cards-wrapper {
    display: flex;
    justify-content: center;

    .card + .card {
      margin-left: 80px;
    }
  }
}
