<div class="career">
  <form [formGroup]="careerForm">
    <div class="career__array row" formArrayName="careersFormArray">
      <ng-container *ngFor="let career of careers.controls; index as i">
        <div [formGroupName]="i" class="col-12 career__item" @careerAction>
          <div class="career__item-collapse-panel row">
            <button
              class="career__item-collapse-panel-button"
              (click)="collapseAndExpandCareer(i)"
            >
              <i class="bi bi-caret-down"></i>
            </button>
            <span
              (click)="collapseAndExpandCareer(i)"
              class="career__item-title"
            >
              {{
                careers.at(i).get("companyName")?.value
                  ? careers.at(i).get("companyName")?.value
                  : "New Career"
              }}
              {{ careers.at(i).pristine ? "" : "*" }}
            </span>

            <div class="career__item-right-actions">
              <button
                class="career__item-delete-career-button"
                (click)="deleteCareerFromCareerFormArray(i)"
              >
                <i class="bi bi-x-circle"></i>
              </button>
              <span class="career__item-number">
                {{ i + 1 }}
              </span>
            </div>
          </div>

          <div
            @collapse
            *ngIf="careers.at(i).get('expanded')?.value"
            class="row career__wrapper"
          >
            <div class="col-12 col-md-9 col-lg-6">
              <div class="form-group">
                <label for="company-name{{ i }}">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="company-name{{ i }}"
                  formControlName="companyName"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="start-date{{ i }}">Start Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="start-date{{ i }}"
                  formControlName="startDate"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="end-date{{ i }}">End Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="end-date{{ i }}"
                  formControlName="endDate"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="career-city{{ i }}">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-city{{ i }}"
                  formControlName="city"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="career-state{{ i }}">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-state{{ i }}"
                  formControlName="state"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="career-country{{ i }}">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-country{{ i }}"
                  formControlName="country"
                />
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="job-title{{ i }}">Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="job-title{{ i }}"
                  formControlName="jobTitle"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="description{{ i }}">Description</label>

                <ckeditor
                  id="description{{ i }}"
                  formControlName="description"
                  [editor]="ckEditor"
                ></ckeditor>
              </div>
            </div>

            <div class="col-4">
              <button
                type="button"
                (click)="sendAddedCareer(i)"
                class="btn btn-secondary"
                [disabled]="careers.at(i).pristine"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <button
        type="button"
        class="career__btn-add-new"
        (click)="careers.push(newCareerFormGroup(true))"
      >
        Add Career
      </button>
    </div>
  </form>
</div>
