<div class="career">
  <form [formGroup]="careerForm">
    <div class="career__array row" formArrayName="careersFormArray">
      <ng-container *ngFor="let career of careers.controls; index as i">
        <div
          [formGroupName]="i"
          class="col-12 career__item"
          [ngClass]="{
            'd-none': isBeingDragged.index === i && !isBeingDragged.displayed
          }"
          @careerAction
          draggable="true"
          (dragstart)="dragStartsHandler($event, i)"
          (dragend)="dragEndHandler(i)"
          (drag)="dragHandler(i)"
          (drop)="dropHandler($event, i)"
          (dragover)="dragOverHandler($event)"
        >
          <div class="career__item-collapse-panel row">
            <button
              class="career__item-collapse-panel-button"
              (click)="collapseAndExpandCareer(i)"
            >
              <i class="bi bi-caret-down"></i>
            </button>
            <span
              (click)="collapseAndExpandCareer(i)"
              class="career__item-title"
            >
              {{
                careers.at(i).get("companyName")?.value
                  ? careers.at(i).get("companyName")?.value
                  : "New Career"
              }}
              {{ careers.at(i).pristine ? "" : "*" }}
            </span>

            <div class="career__item-right-actions">
              <button
                type="button"
                (click)="sendAddedCareer(i)"
                class="btn btn-secondary career__item-save-career-button"
                [disabled]="careers.at(i).pristine"
              >
                <i class="bi bi-save"></i>
              </button>

              <button
                class="career__item-delete-career-button"
                (click)="deleteCareerFromCareerFormArray(i)"
              >
                <i class="bi bi-x-circle"></i>
              </button>
            </div>
          </div>

          <div
            @collapse
            *ngIf="careers.at(i).get('expanded')?.value"
            class="row career__wrapper"
          >
            <div class="col-12 col-md-9 col-lg-9">
              <div class="form-group">
                <label for="company-name{{ i }}">Company Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="company-name{{ i }}"
                  formControlName="companyName"
                />

                <validator
                  [isTouched]="careers.at(i).get('companyName')?.touched"
                  [controlErrors]="careers.at(i).get('companyName')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="start-date{{ i }}">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="start-date{{ i }}"
                  formControlName="startDate"
                />

                <validator
                  [isTouched]="careers.at(i).get('startDate')?.touched"
                  [controlErrors]="careers.at(i).get('startDate')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="end-date{{ i }}">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="end-date{{ i }}"
                  formControlName="endDate"
                />

                <validator
                  [isTouched]="careers.at(i).get('endDate')?.touched"
                  [controlErrors]="careers.at(i).get('endDate')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5">
              <div class="form-group">
                <label for="career-city{{ i }}">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-city{{ i }}"
                  formControlName="city"
                />

                <validator
                  [isTouched]="careers.at(i).get('city')?.touched"
                  [controlErrors]="careers.at(i).get('city')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="career-state{{ i }}">State</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-state{{ i }}"
                  formControlName="state"
                />

                <validator
                  [isTouched]="careers.at(i).get('state')?.touched"
                  [controlErrors]="careers.at(i).get('state')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="career-country{{ i }}">Country</label>
                <input
                  type="text"
                  class="form-control"
                  id="career-country{{ i }}"
                  formControlName="country"
                />

                <validator
                  [isTouched]="careers.at(i).get('country')?.touched"
                  [controlErrors]="careers.at(i).get('country')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="job-title{{ i }}">Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="job-title{{ i }}"
                  formControlName="jobTitle"
                />

                <validator
                  [isTouched]="careers.at(i).get('jobTitle')?.touched"
                  [controlErrors]="careers.at(i).get('jobTitle')?.errors"
                ></validator>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="description{{ i }}">Description</label>

                <ckeditor
                  id="description{{ i }}"
                  formControlName="description"
                  [editor]="ckEditor"
                ></ckeditor>

                <validator
                  [isTouched]="careers.at(i).get('description')?.touched"
                  [controlErrors]="careers.at(i).get('description')?.errors"
                ></validator>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <button
        type="button"
        class="career__btn-add-new"
        (click)="careers.push(newCareerFormGroup(true))"
      >
        Add Career
      </button>
    </div>
  </form>
</div>
