<section class="abilities-list-section" aria-label="abilities">
  <div class="limiter">
    <div class="abilities-list-section__container container-fluid">
      <h2 class="section-title text-center" id="abilities">
        {{ sectionTitle }}
      </h2>

      <ng-container *ngFor="let abilitySet of abilitiesObserver$ | async">
        <div class="abilities-list-section__list">
          <ng-container [ngSwitch]="abilitySet[0]">
            <h3 *ngSwitchCase="'SKILL'">Skills</h3>
            <h3 *ngSwitchCase="'LANGUAGE'">Languages</h3>
            <h3 *ngSwitchCase="'OS'">Operating Systems</h3>
            <h3 *ngSwitchCase="'TOOL'">Tools (Other Software)</h3>
          </ng-container>

          <div class="abilities-list-section__list-wrapper row">
            <div
              *ngFor="let abilityItem of abilitySet[1]"
              class="abilities-list-section__item col-12 col-md-6"
            >
              <div class="row">
                <div class="abilities-list-section__ability-name col-5">
                  <img [src]="abilityItem.logo" height="50" width="50" />
                </div>

                <div class="abilities-list-section__progress col-7">
                  <span class="abilities-list-section__progress-bar">
                    <span
                      animateWith
                      [percent]="abilityItem.percent"
                      class="abilities-list-section__progress-bar-increment"
                    ></span
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
