.header {
  height: 50vh;
  background-color: #dddd;

  &__main-navigation {
    max-width: 1680px;
    margin: 0 auto;
  }

  &__menu {
    float: right;

    li {
      list-style: none;
      display: inline-block;

      + li {
        margin-left: 40px;
      }
    }

    &-link {
      &:link,
      &:active {
        text-decoration: none;
      }
    }
  }
}
