<header class="header">
  <nav class="header__main-navigation" fixedHeader role="navigation">
    <div class="limiter">
      <div #parent class="container-fluid d-flex justify-content-between">
        <div class="header__logo">
          <a routerLink="/">Home</a>
        </div>

        <ul class="header__menu" #menu>
          <li>
            <a
              closeMenu
              [parent]="parent"
              routerLink="/"
              fragment="about"
              class="header__menu-link"
            >
              Who am I?
            </a>
          </li>
          <li>
            <a
              closeMenu
              [parent]="parent"
              class="header__menu-link"
              routerLink="/"
              fragment="experience"
            >
              Experiencie
            </a>
          </li>
          <li>
            <a
              closeMenu
              [parent]="parent"
              class="header__menu-link"
              routerLink="/"
              fragment="abilities"
            >
              Abilities
            </a>
          </li>
          <li>
            <a
              closeMenu
              [parent]="parent"
              class="header__menu-link"
              routerLink="/"
              fragment="contact"
            >
              Contact
            </a>
          </li>
          <li>
            <a class="header__menu-link" routerLink="/about-this-page">
              What about this page?
            </a>
          </li>
        </ul>

        <button
          openMobileMenu
          aria-label="menu"
          [menu]="menu"
          [parent]="parent"
          type="button"
          class="header__btn-burguer"
        >
          <i class="bi bi-list"></i>
        </button>
      </div>
    </div>
  </nav>

  <div class="header__text">
    <ng-container *ngIf="headerTitle$ | async as titleSet">
      <h1>{{ titleSet.title }}</h1>
      <hr />
      <p>{{ titleSet.description }}</p>
    </ng-container>
  </div>
</header>
