@import "abstract/variables";
@import "base/animations";
@import "~bootstrap/scss/mixins/breakpoints";

.header {
  min-height: 50vh;
  background-color: #fed049;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23fbff00' stroke-width='9' stroke-opacity='0.01' %3E%3Ccircle fill='%23fed049' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f3ca4e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e8c553' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ddbf58' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23d1ba5c' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23c6b560' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23bbaf63' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23afaa67' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23a4a46a' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23989f6d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%238c9a70' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%237f9472' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23728f75' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23648a77' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2355857a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23447f7c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e7a7e' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23007580' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &__text {
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;

    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-delay: 0.75s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    h1 {
      color: inherit;
    }
  }

  &__main-navigation {
    margin: 0 auto;
    padding: 20px;
    z-index: 999;
    background-color: transparent;
    transition: all 1s linear;
  }

  &__logo {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }

    a {
      &::after {
        content: "";
        display: block;
        background-color: $primary-color;
        width: 0;
        height: 2px;
        transition: all 0.5s;
      }

      &:hover {
        color: $primary-color;
        transition: all 0.5s;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__menu {
    margin: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    li {
      list-style: none;
      display: inline-block;

      + li {
        margin-left: 40px;
      }
    }

    &.menu-opened {
      @include media-breakpoint-down(sm) {
        animation: menu-translate 1s;
        display: flex;
        position: fixed;
        background-color: $secondary-color;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        padding-inline-start: 0;

        li {
          margin: 0 !important;

          & + li {
            margin-top: 40px !important;
          }
        }
      }
    }

    &-link {
      &::after {
        content: "";
        display: block;
        background-color: $primary-color;
        width: 0%;
        height: 2px;
        transition: all 0.5s;
      }

      &:hover {
        color: $primary-color;
        transition: all 0.5s;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__btn-burguer {
    background-color: transparent;
    border: none;
    z-index: 100;
    color: white;
    font-size: 3rem;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.fixed-nav-menu {
  width: 100%;
  top: 0;
  position: fixed;
  opacity: 1;
  background-image: none;
  background-color: $secondary-color;
  transition: all 1s linear;
}

.fixed-bottom-button {
  animation: op-0-1 2s;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
}
