@import "abstract/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.card-hover-effect {
  display: flex;
  margin: 0 auto;
  max-width: 320px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 25px 45px -20px rgba(black, 0.881);
  transition: box-shadow 0.5s;

  @include media-breakpoint-down(sm) {
    max-width: 375px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    &::after {
      background-color: rgba(var(--secondary-color-rgb), 0.85);
    }

    .card-hover-effect__text {
      top: 0;

      h3 {
        &::before {
          box-shadow: 0 20px 15px 20px rgba(var(--primary-color-rgb), 0);
        }

        &::after {
          width: 100%;
        }
      }
    }

    .card-hover-effect__body {
      opacity: 1;
      top: 0;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: calc(100% - 120px);
    padding: 20px 15px;
    color: $primary-color;
    z-index: 9;
    transition: inset 800ms;

    h3 {
      color: $primary-color;
      margin-bottom: 10px;

      &::before {
        content: "";
        display: block;
        transition: box-shadow 0.5s;
        box-shadow: 0 20px 15px 20px rgba(var(--secondary-color-rgb), 0.85);
      }

      &::after {
        transition: width 800ms;
        width: 0%;
        background-color: $primary-color;
      }
    }
  }

  &__body {
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0;
    top: 25px;
    transition: opacity 800ms, inset 800ms;
    transition-delay: 200ms;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 1s;
  }

  &::after {
    content: "";
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
    transition: background-color 0.5s;
  }
}
