<div class="card-hover-effect">
  <ng-container *ngIf="hobby">
    <div class="card-hover-effect__text">
      <h3 class="card-hover-effect__title">{{ hobby.name }}</h3>

      <div
        class="card-hover-effect__body"
        [innerHtml]="hobby.description | HTMLSanitizer"
      ></div>
    </div>

    <picture>
      <source
        srcset="{{ apiUrl + hobby.Image.url }}, {{ apiUrl + hobby.imageHd.url }} 2x"
      />

      <img [src]="apiUrl + hobby.Image.url" [alt]="hobby.name" />
    </picture>
  </ng-container>
</div>
