<div
  class="card-hover-effect"
  (mouseenter)="this.isTriggered = !this.isTriggered"
  (mouseleave)="this.isTriggered = !this.isTriggered"
>
  <div class="card-hover-effect__text" [@animateHeight]="triggerEp">
    <h3 class="card-hover-effect__title">{{ hobby.name }}</h3>

    <p class="card-hover-effect__body" [@childAnimation]="triggerEp">
      {{ hobby.description }}
    </p>
  </div>

  <picture>
    <source srcset="{{ hobby.image }}, {{ hobby.image2x }} 2x" />

    <img src="{{ hobby.image }}" alt="{{ hobby.altText }}" />
  </picture>
</div>
